/* Style */
/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABILI */
:root {
    --ms-primary-color: #;
    --ms-primary-light-color: #;
    --ms-secondary-color: #;
    --ms-secondary-light-color: #;
}

/* Regole di DEBUG */


/* Regole CSS generali */
html{
    font-family: sans-serif;
}
body {
    background-color: black;
}

.container {
    width: 80vw;
    margin: auto;
}
.slider-left {
    height: 50vh;
    width: calc(100% - 200px);
    margin-top: 15vh;
}
.image-list {
    height: 100%;
}
.image-wrapper {
    height: 100%;
    display: none;
}
.image {
    object-fit: cover;
    object-position: right;
    width: 100%;
    height: 100%;
}
.image-wrapper.show {
    display: block;
}
.slider-right {
    height: 50vh;
    width: 200px;
    margin-top: 15vh;
    position: relative;
}
.image-sequence {
    height: 100%;
    width: 100%;
}
.box {
    width: 100%;
    height: calc(100% / 5);
}
.overlay {
    border: 5px solid white;
    opacity: 0.5;
}
.navigation {
    position: absolute;
    background-color: lightgrey;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
}
#next {
    bottom: 10px;
}
#prev {
    top: 10px;
}
#next.hide {
    display: none;
}
#prev.hide {
    display: none;
}



/* MEDIA QUERY */
/* Breakpoint sm */
@media screen and (min-width: 576px) {
    
}

/* Breakpoint md */
@media screen and (min-width: 768px) {
    
}

/* Breakpoint lg */
@media screen and (min-width: 992px) {
    
}

/* Breakpoint xl */
@media screen and (min-width: 1200px) {
    .slider-left {
        width: calc(100% - 300px);
    }
    .slider-right {
        width: 300px;
    }
}

/* Breakpoint xxl */
@media screen and (min-width: 1400px) {
    
}
